#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.blog-page-one {
  font-family: 'Figtree', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.blog-page-two {
  font-family: 'Figtree', sans-serif;
  font-size: 2rem;
  font-weight: semibold;
}

.blog-page-section {
  display: flex;
}
