@import '@fontsource/figtree';
@import '@fontsource/figtree/400.css';
@import '@fontsource/figtree/700.css';

body {
  font-family: 'Figtree', sans-serif;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  color: #424242;
  background-color: #f2eded;

  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}
